node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
RLClock/node_modules/*
# macOS
.DS_Store
android/gradle.properties
android/app/build/intermediates/
android/.gradle/
android/.idea/libraries/
android/app/build/
