/* Old color scheme:
lighter: #ffc730, #ffad40
main: #ffa100
darker: #bf8a30, #a66900 */

/* Color scheme. Red:
lighter: #a92020, #c32148
main: #95100f
darker: #7d0d0c

Green: #7e9c54, #a3ba82*/

/* --- defaults --- */

body {
  font-size: 1em;
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 1em 3em 3em 3em;
  border: none;
  color: black;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 500;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: 500;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ddd;
  border: 1px solid #333;
  padding: 5px;
  margin: 0;
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  font-size: 1em;
  transition: background-color .2s;
}

button:hover,
button:active {
  background-color: #aaa;
}

input[type=checkbox] {
  vertical-align: text-bottom;
}

/* --- class info section --- */

#current-info {
  text-align: center;
  margin: 0 auto 2em auto;
  display: block;
}

#current-block {
  color: #95100f;
}

/* --- new icons section --- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: none;
}

.nav-item {
  background-color: #555;
  color: white;
  line-height: 4em;
  width: 4em;
  height: 4em;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: default;
  transition: background-color .3s;
}

.nav-item:hover, .nav-item:active {
  background-color: #a92020;
}

#nav-content {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

nav:hover #nav-content,
nav:active #nav-content {
  opacity: 1;
}

#nav-button {
  opacity: 0.6;
  transition: opacity .3s, background-color .3s;
}

nav:hover #nav-button,
nav:active #nav-button {
  background-color: #7d0d0c;
  opacity: 1;
}

/* --- account section --- */
#account-nav {
  right: 0;
  top: 0;
  position: absolute;
  cursor: default;
  display: none;
}

.account-item {
  cursor: default;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #555;
  color: white;
  padding: 4px;
  font-size: 1em;
  opacity: 0.6;
  transition: background-color .3s, opacity .3s;
}

.account-item:hover, .account-item:active {
  background-color: #a92020;
  opacity: 1;
}

#loginframe {
  visibility: hidden;
}

/* --- list classes --- */

.list {
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.list-section {
  background-color: #eee;
  margin: 0 auto 1em auto;
  padding: 2%;
}

.list-item {
  background-color: #fff;
  margin: 0.5em auto 0 auto;
  padding: 0.7em;
  display: block;
  height: 1em;
}

.list-item-letter {
  float: left;
  margin: 0 0 0 3px;
  padding: 0;
}

.list-item-time {
  float: right;
  font-size: 0.7em;
  color: #595959;
  margin: 0 3px 0 0;
  padding: 0;
}

/* --- settings --- */

#settings {
  margin-top: 1em;
  display: none;
}

#settings label {
  display: block;
}

#settings-form {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

#settings-submit {
  display: block;
}

/* --- local notification --- */
#local-notification {
  position: absolute;
  opacity: 0;
  width: 400px;
  display: block;
  top: 0.5em;
  left: 5em;
  text-align: center;
  background-color: #a3ba82;
  padding: 3px;
  transition: opacity .5s;
}

.notification-show {
  visibility:visible;
  opacity: 1;
}

/* --- selection colors --- */

::-moz-selection {
  color: white;
  background-color: #A92020;
  text-shadow: none;
}
::selection {
  color: white;
  background-color: #A92020;
  text-shadow: none;
}
