<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<form class="form-horizontal" action="/new" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Sign Up</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="a">A Block</label>  
  <div class="col-md-4">
  <input id="a" name="a" type="text" placeholder="A Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="alunch">A Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="alunch-0">
      <input type="radio" name="alunch" id="alunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="alunch-1">
      <input type="radio" name="alunch" id="alunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="b">B Block</label>  
  <div class="col-md-4">
  <input id="b" name="b" type="text" placeholder="B Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="blunch">B Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="blunch-0">
      <input type="radio" name="blunch" id="blunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="blunch-1">
      <input type="radio" name="blunch" id="blunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="c">C Block </label>  
  <div class="col-md-4">
  <input id="c" name="c" type="text" placeholder="C Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="clunch">C Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="clunch-0">
      <input type="radio" name="clunch" id="clunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="clunch-1">
      <input type="radio" name="clunch" id="clunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="d">D Block</label>  
  <div class="col-md-4">
  <input id="d" name="d" type="text" placeholder="D Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="dlunch">D Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="dlunch-0">
      <input type="radio" name="dlunch" id="dlunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="dlunch-1">
      <input type="radio" name="dlunch" id="dlunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="e">E Block</label>  
  <div class="col-md-4">
  <input id="e" name="e" type="text" placeholder="E Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="elunch">E Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="elunch-0">
      <input type="radio" name="elunch" id="elunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="elunch-1">
      <input type="radio" name="elunch" id="elunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="f">F Block</label>  
  <div class="col-md-4">
  <input id="f" name="f" type="text" placeholder="F Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="flunch">F  Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="flunch-0">
      <input type="radio" name="flunch" id="flunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="flunch-1">
      <input type="radio" name="flunch" id="flunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="g">G Block</label>  
  <div class="col-md-4">
  <input id="g" name="g" type="text" placeholder="G Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="glunch">G Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="glunch-0">
      <input type="radio" name="glunch" id="glunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="glunch-1">
      <input type="radio" name="glunch" id="glunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="h">H Block</label>  
  <div class="col-md-4">
  <input id="h" name="h" type="text" placeholder="H Block" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="hlunch">H Block Lunch</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="hlunch-0">
      <input type="radio" name="hlunch" id="hlunch-0" value="1" checked="checked">
      First Lunch
    </label>
	</div>
  <div class="radio">
    <label for="hlunch-1">
      <input type="radio" name="hlunch" id="hlunch-1" value="2">
      Second Lunch
    </label>
	</div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Submit"></label>
  <div class="col-md-4">
    <button id="Submit" name="Submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
