/*:ghter: #ffc730, #ffad40
main: #ffa100
darker: #bf8a30, #a66900 */

/* --- defaults --- */

body {
  font-size: 1em;
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  margin: 2em;
  border: none;
  color: black;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 500;
}

/* --- forms --- */

input[type=text] {
    padding: 3px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ddd;
  border: 1px solid #333;
  padding: 5px;
  margin: 0;
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  font-size: 1em;
  transition: background-color .2s;
}

button:hover,
button:active {
  background-color: #aaa;
}

/* --- selection colors --- */

::-moz-selection {
  color: white;
  background-color: #ffad40;
  text-shadow: none;
}
::selection {
  color: white;
  background-color: #ffad40;
  text-shadow: none;
}
