
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RL Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="index.css">
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <!-- OLDER -->
    <p id="daytype" hidden>{{day}}</p>
    <p id="data" hidden>{{data}}</p>
    <div id="local-notification"></div>
    <nav>
      <div id="nav-button" class="nav-item">&#9776;</div>
      <div id="nav-content">
        <a href="https://roxburylatin.myschoolapp.com" title="Roxbury Latin School" class="nav-item" target="_blank">RL</a>
        <a href="https://www.sagedining.com/menus/roxburylatin" title="Sage Dining" class="nav-item" target="_blank">Lunch</a>
        <a href="https://mail.google.com/a/roxburylatin.org" title="Gmail" class="nav-item" target="_blank">Mail</a>
        <a href="https://drive.google.com/a/roxburylatin.org" title="Google Drive" class="nav-item" target="_blank">Drive</a>
        <div id="settings-button" class="nav-item" title="settings">&#9881;</div>
      <div>
    </nav>
    <section id="current-info">
      <h2 id="current-block">H</h2>
      <p id="minutes-left"><img src="loading.gif"></img></p>
    </section>
    <section id="periods-list" class="list"></section>
    <div id="settings" class="list">
      <h3>Settings</h3>
      <p>Currently, settings are <em>not</em> permanent and are only stored locally.</p>
      <div id="settings-form">
        <label><input type="checkbox" data-rep="notifications">Notifications: show before the end of a block</label>
        <label><input type="checkbox" data-rep="audio">Audio: play before the end of a block</label>
      </div>
      <button type="button" id="settings-submit">Save</button>
    </div>
    <script src="schedule.js"></script>
  </body>
</html>

